linux-*/
linux-*.tar.xz
buildroot/
mc-benchmark/
gcov-data/
mysql-*/
mysql-*.tar.gz
sysbench-*/
sysbench-*.tar.gz
leveldb/
rocksdb/
overlay/root/db_bench_leveldb
overlay/root/db_bench_rocksdb
kernels/
stats/
